html
  head
    style body{background-image: url('https://source.unsplash.com/random'); background-size:cover;}
  body
    ol
      li JavaScript
      li nodejs
      li expressjs
    article
      block content
