doctype html
html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title 3 Carousel Layout (BS 3)
    meta(name='generator', content='Bootply')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/styles.css', rel='stylesheet')
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top
          .navbar-header
            a.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') boot
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') 홈
              li
                a(href='http://www.bootply.com', target='ext') About
              li
                a(href='#contact') 제휴문의
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | 게시판
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
                  li
                    a(href='#') One more separated link
            #searchbar.row
              .col-lg-6
                .input-group
                  input.form-control(type='text', placeholder='Search for...')
                  span.input-group-btn
                    button.btn.btn-default(type='button') Go!
              ul#nav_login.nav.navbar-nav.navbar-right
                li.dropdown
                  a#dropdown-toggle.dropdown-toggle(href='#', data-toggle='dropdown')
                    b 로그인
                    span.caret
                  ul#login-dp.dropdown-menu
                    li
                      .row
                        .col-md-12
                          | Login via
                          .social-buttons
                            a.btn.btn-fb(href='#')
                              i.fa.fa-facebook
                              |  Facebook
                            a.btn.btn-tw(href='#')
                              i.fa.fa-twitter
                              |  Twitter
                          | 																				or
                          form#login-nav.form(role='form', method='post', action='login', accept-charset='UTF-8')
                            .form-group
                              label.sr-only(for='exampleInputEmail2') Email address
                              input#exampleInputEmail2.form-control(type='email', placeholder='Email address', required='')
                            .form-group
                              label.sr-only(for='exampleInputPassword2') Password
                              input#exampleInputPassword2.form-control(type='password', placeholder='Password', required='')
                              .help-block.text-right
                                a(href='') Forget the password ?
                            .form-group
                              button.btn.btn-primary.btn-block(type='submit') Sign in
                            .checkbox
                              label
                                input(type='checkbox')
                                |  keep me logged-in
                        .bottom.text-center
                          | New here ?
                          a(href='#')
                            b Join Us
                  //#loginbar.btn-group(role='group', aria-label='...')
                    //a(href='')
                      //button.btn.btn-default(type='button') 로그인
                      //button.btn.btn-default(type='button') 회원가입
                      //button.btn.btn-default(type='button') 고객센터
      // /container
    // /navbar wrapper
    //
      Carousel
      ==================================================
    #myCarousel.carousel.slide
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .item.active
          img.img-responsive(src='/assets/example/bg_suburb.jpg', style='width:100%')
          .container
            .carousel-caption
              h1 Bootstrap 3 Carousel Layout
              p
              p
                a.btn.btn-lg.btn-primary(href='http://getbootstrap.com') Learn More
        .item
          img.img-responsive(src='http://lorempixel.com/2000/600/abstract/1')
          .container
            .carousel-caption
              h1 Changes to the Grid
              p
                | Bootstrap 3 still features a 12-column grid, but many of the CSS class names have completely changed.
              p
                a.btn.btn-large.btn-primary(href='#') Learn more
        .item
          img.img-responsive(src='http://placehold.it/1500X500')
          .container
            .carousel-caption
              h1 Percentage-based sizing
              p With "mobile-first" there is now only one percentage-based grid.
              p
                a.btn.btn-large.btn-primary(href='#') Browse gallery
      // Controls
      a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.icon-prev
      a.right.carousel-control(href='#myCarousel', data-slide='next')
        span.icon-next
    // /.carousel
    //
      Marketing messaging and featurettes
      ==================================================
    // Wrap the rest of the page in another container to center all the content.
    .container.marketing
      // Three columns of text below the carousel
      .row
        .col-md-4.text-center
          img.img-rounded(src='http://placehold.it/140x140')
          h2 Mobile-first
          p
            | Tablets, phones, laptops. The new 3 promises to be mobile friendly from the start.
          p
            a.btn.btn-default(href='#') View details »
        .col-md-4.text-center
          img.img-rounded(src='http://placehold.it/140x140')
          h2 One Fluid Grid
          p
            | There is now just one percentage-based grid for Bootstrap 3. Customize for fixed widths.
          p
            a.btn.btn-default(href='#') View details »
        .col-md-4.text-center
          img.img-rounded(src='http://placehold.it/140x140')
          h2 LESS is More
          p Improved support for mixins make the new Bootstrap 3 easier to customize.
          p
            a.btn.btn-default(href='#') View details »
      // /.row
      // START THE FEATURETTES
      hr.featurette-divider
      .featurette
        img.featurette-image.img-circle.pull-right(src='http://placehold.it/512')
        h2.featurette-heading
          | Responsive Design.
          span.text-muted It'll blow your mind.
        p.lead
          | In simple terms, a responsive web design figures out what resolution of device it's being served on. Flexible grids then size correctly to fit the screen.
      hr.featurette-divider
      .featurette
        img.featurette-image.img-circle.pull-left(src='http://placehold.it/512')
        h2.featurette-heading
          | Smaller Footprint.
          span.text-muted Lightweight.
        p.lead
          | The new Bootstrap 3 promises to be a smaller build. The separate Bootstrap base and responsive.css files have now been merged into one. There is no more fixed grid, only fluid.
      hr.featurette-divider
      .featurette
        img.featurette-image.img-circle.pull-right(src='http://placehold.it/512')
        h2.featurette-heading
          | And lastly, this one.
          span.text-muted Flatness.
        p.lead
          | A big design trend for 2013 is "flat" design. Gone are the days of excessive gradients and shadows. Designers are producing cleaner flat designs, and Bootstrap 3 takes advantage of this minimalist trend.
      hr.featurette-divider
      // /END THE FEATURETTES
      // FOOTER
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | This Bootstrap layout is compliments of Bootply. ·
          a(href='http://www.bootply.com/62603') Edit on Bootply.com
    // /.container
    // script references
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
    script(src='/js/bootstrap.min.js')
